 <div class = "main"> 
         <div class="container-fluid">  
         <div class ="post">
        <% if @posts.exists? %>
          <h1 class="text-center">Top Posts</h1>
        <% else %>
          <h1>Oop! No matching posts ...</h1>
        <% end %>
      
<div class ="well col-md-6 col-md-offset-3 text-center">   
                <% @posts.each do |post|%>
      <div class = "row">  
          <div class="user">
            <div class="col-md-2">
              <div class="avatar">
                  <% if post.user.profile.avatar.attached? %>
                  <%= link_to user_path(post.user) do %>
                  <%= image_tag post.user.profile.avatar, :size => '60x60'%>
                  <% end %>
                  <% end %>
                  </div>
                  </div>
                </div>
                <div class="col-md-8 text-center">
                <h2><%= link_to post.user.username, user_path(post.user), class: 'username' %></h2>
               
                <h6>Posted At: <%= local_time(post.created_at) %> </h6>
                </div>
            </div>
        
        <% if post.image.attached? %>
        <%= image_tag post.image, :size => '260x180' %>
        <% end %>
        <%end%>
              </div>
            <div>
          </div>
        </div>
      </div> 
  
  
  
        </div>
    </div>
  </div>
