<div class="container-fluid">
  <div class ="main">
    <div class ="well well_show">  
      <div class = "row">
        <div class=col-md-2>
    
        <div class= "logo">
            <% if @user.profile.avatar.attached? %>
         <%= image_tag @user.profile.avatar, class: "avatar_show_img" %>
         <% else %>
         <img class ="logo" src="https://mbgdb.s3.us-east-2.amazonaws.com/LogoMakr_95QFB2.png" alt="MYBGDB Logo">
         <% end %>
        </div>
        </div>
          <div class=col-md-8>
          
               <h1 class = "text-center"> <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1><br>
                <p class = "profile.text text-center"><b>Location:</b>  <%= @user.profile.city %>, <%= @user.profile.state %>  <%= @user.profile.zip %></p><br>
                 <p class = "profile.text text-center"><b>Email:</b> <%= @user.profile.contact_email %></p>
          </div>
        </div>
    </div>
     
          <div class="profile_show_text">
            <div class="well">
               <b>All About Me: </b> <%= @user.profile.description %>
            </div>
          </div>
          
      
         
     </div>     
</div>      
  