<body>
<div class="container-fluid">
  <div class ="main">
    <div class ="well well_show">  
      <div class = "row">
        <div class=col-md-2>
    
        <div class= "logo">
            <% if @user.profile.avatar.attached? %>
         <%= image_tag @user.profile.avatar, class: "avatar_show_img" %>
         <% else %>
         <img class ="logo" src="https://mbgdb.s3.us-east-2.amazonaws.com/LogoMakr_95QFB2.png" alt="MYBGDB Logo">
         <% end %>
        </div>
        </div>
          <div class=col-md-8>
          
               <h1 class = "text-center"> <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1><br>
                <p class = "profile.text text-center"><b>Location:</b>  <%= @user.profile.city %>, <%= @user.profile.state %>  <%= @user.profile.zip %></p><br>
                 <p class = "profile.text text-center"><b>Email:</b> <%= @user.profile.contact_email %></p>
          </div>
        </div>
    </div>
     
          <div class="profile_show_text">
            <div class="well">
               <b>All About Me: </b> <%= @user.profile.description %>
            </div>
          </div>
     <% if @user == current_user %>   
     
                   <%= form_for Post.new do |f| %>
                    <div class ="well">        
                          <div class="form-group post_content">
                              <%= f.label :content, "Say Something" %>
                            <%= f.text_field :content, class: 'post_content' %>
                          </div>
                          <div class ="row">
                            <div class ="col-md-6"
                              <div class="form-group">
                                  <%= f.label :image, "Show Something" %>
                                <%= f.file_field :image %>
                            </div>
                            <div class = "col-md-3">
                              </div>
                              <div class="form-group post_user">
                                <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
                              </div>
                              <br>
                              <div class="text-center">
                                <%= f.submit 'Post Something', class: 'btn btn-primary' %>
                                <%end%>
                              </div>
                              </div>
                          </div>
                          <%end%>
                 <div class="row-fluid">
                    <div class="col-md-6">  
                              <div class="posts">
                                <% @posts.each do |post| %>
                                  <%= render partial: 'post', locals: { post: post } %>
                                    
                                    <% end %>
                                    
                                <%= will_paginate @posts %>
                              </div>
                            </div>
                    
                    
                  </div>
                  </div>
          
  </div>
</div>                         
</body>                                
     