<div class="container-fluid">
  <div class="main">
    <div class="well">
      
       <% if @post.user.avatar.attached? %>
              <%= link_to user_path(@post.user) do %>
                <%= image_tag @post.user.avatar %>
              <% end %>
            <% end %>
          
          <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
     <br>
            <% if @post.image.attached? %>
              <%=image_tag @post.image, size: "120x120" %>
              <% end %><br>
         <%= @post.content %>
         <%= render contact_user_partial_path %>
         <br>
  
 <%= render partial: "editlinks", locals: {post: @post} %>
 
    </div>
  </div>
</div>

